body {
    margin: 0;
}

.header {
    height: 55px;
    color: white;
    background-color: #19705a;
    padding: 10px;
    text-align: center;
}

.logo img {
    float: left;
    width: 200px;
}

.header img {
    height: 50px;
}

.navbar {
    position: sticky;
    overflow: hidden;
    background-color: #3f51b5;
    width: 100%;
    font-family: Arial, sans-serif;
    top: 0;
}

.navbar button {
    width: auto;
    margin-right: 20px;
    float: right;
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    font-family: arial;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #E6E6FA;
    color: black;
}

.navbar a.active {
    color: white;
}

.body-container {
    max-width: 100%;
    position: relative;
    background-color: #7777af;
    margin: auto;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    color: white;
    background-color:#19705a;
    text-align: center;
    font-family: Arial;
}

ul {
    padding: 0;
    position: relative;
    width: 99%;
    margin-top: 0px;
}

ul li {
    list-style: none;
    float: right;
    color: black;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: -5px;
}
h5{
    float:right;
    font-family: Arial;
    margin-top: -5px;
    margin-right: -105px;
}

ul li:hover,
.active {
    color: white;
}

.container {
    border-radius: 5px;
    background-color: #e6e6e6;
    padding: 25px 50px;
    overflow-x: auto;
}

input[type],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 20px;
    resize: vertical;
}

label {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
h1{
    text-align: center;
    font-family: Arial;
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
/* Set a style for all buttons */

button {
    background-color: #3f51b5;
    padding: 14px 30px;
    margin: 4px 1px;
    border: none;
    cursor: pointer;
    float: right;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: Arial;
}


button:hover {
    background-color: #008000;
}

button.get-stared-link{
    float: left;
}
button.ifyou {
    float: left;
}

/* Center the image and position the close button */

.img-close {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full of height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

.modal-content {
    background-color: rgb(43, 90, 61);
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid rgb(43, 90, 61);
    width: 98%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}


/* styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn {
        width: 100%;
    }
}
