body {
    margin: 0;
}

.logo img {
    float: left;
    width: 170px;
    height: 40px;
}

.navbar button {
    width: auto;
    margin-right: 20px;
    float: right;
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    font-family: arial;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #E6E6FA;
    color: black;
}

.navbar a.active {
    color: white;
}

.body-container {
    max-width: 100%;
    position: relative;
    background-color: #7777af;
    margin: auto;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2px;
    color: white;
    background-color:#19705a;
    text-align: center;
    font-family: Arial;
}

ul {
    padding: 0;
    position: relative;
    width: 99%;
    margin-top: 0px;
}

ul li {
    list-style: none;
    float: right;
    color: black;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: -5px;
}
h5{
    float:right;
    font-family: Arial;
    margin-top: -5px;
    margin-right: -105px;
}

ul li:hover,
.active {
    color: white;
}

.container {
    border-radius: 5px;
    /* background-color: #e6e6e6; */
    padding: 25px 50px;
    overflow-x: auto;
    margin-bottom: 25px;
}

.error{
  color: rgb(180, 60, 60);
  margin-top: -2%;
  margin-bottom: 2%;
}
.success{
  color: rgb(57, 145, 76);
  margin-top: -2%;
  margin-bottom: 2%;
  }

input[type],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 20px;
    resize: vertical;
}

label {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
h1{
    text-align: center;
    font-family: Arial;
}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
/* Set a style for all buttons */

button {
    background-color: #26815b;
    padding: 14px 30px;
    margin: 4px 1px;
    border: none;
    cursor: pointer;
    float: right;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: Arial;
    color: white;
}

button:hover {
    background-color: #008000;
}

button.get-stared-link{
    float: left;
    margin-left: 70px;
}

button.createBankAccountLink{
  float: left;
  margin-left: 80px;
}

/* .get-stared-link:hover {
  color: black;
} */
button.ifyou {
    float: left;
}

button.desactivate {
    background-color: rgb(180, 60, 60);
}
button.activate {
    background-color: rgb(57, 145, 76);
}

button#goto-desactivate {
    background-color: rgb(180, 60, 60);
}
button#goto-activate {
    background-color: rgb(57, 145, 76);
}

button#viewAccountLink{
  background-color: rgb(57, 145, 76);
}
button#viewAccount{
  background-color: rgb(57, 145, 76);
}
button#deleteAccountLink{
  background-color: rgb(180, 60, 60);
}

button#deleteAccount{
  background-color: rgb(180, 60, 60);
}
button.desactivate {
  background-color: rgb(180, 60, 60);
}
button.activate {
  background-color: rgb(57, 145, 76);
}

button#goto-desactivate {
  background-color: rgb(180, 60, 60);
}
button#goto-activate {
  background-color: rgb(57, 145, 76);
}

/* Center the image and position the close button */

.img-close {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full of height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

.modal-content {
    background-color:#ffffff;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}


/* styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn {
        width: 100%;
    }
}

button.cancelbtn {
    background-color: rgb(206, 74, 74);
}

/* responsive navbar */
.navbar{
    position: sticky;
    background-color:#19705a;
    width: 100%;
    height: 60px;
    font-family: Arial, sans-serif;
    top: 0;
}

.navbar > .navbar-header {
    display: inline;
    
  }
  
  .navbar > .navbar-header > .navbar-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .navbar > .navbar-btn {
    display: none;
  }
  
  .navbar > .navbar-links {
    display: inline;
    font-size: 20px;
    font-family: Arial;
  }
  
  .navbar > .navbar-links > a {
    display: inline-block;
    padding: 19px 15px 19px 15px;
    text-decoration: none;
    color: #efefef;
  }
  
  .navbar > .navbar-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .navbar > #navbar-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .navbar > .navbar-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .navbar > .navbar-btn > label {
      display: inline-block;
      width: 50px;
      height: 27px;
      padding: 16px;
    }
    .navbar > .navbar-btn > label:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .navbar > .navbar-btn > label > span {
      display: block;
      width: 25px;
      height: 13px;
      border-top: 2px solid #eee;
    }
    .navbar > .navbar-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(59, 58, 61);
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 56px;
      left: 0px;
    }
    .navbar > .navbar-links > a {
      display: block;
      width: 100%;
    }
    .navbar > #navbar-check:not(:checked) + .navbar-links {
      height: 0px;
    }
    .navbar > #navbar-check:checked + .navbar-links {
      height: calc(100vh - 50px);
      height: 250px;
    }

    button.createBankAccountLink{
      float: right;
      /* margin-left: 20%; */
    }
  }

  /* style of the tables */
  #table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

#main-section .panel{
  float: left;
  width: 25%;
  padding: 25px;
  text-align: center;
  margin: 15px;
  background: #fff;
}

#main-section .panel-user{
  float: left;
  width: 40%;
  padding: 30px;
  text-align: center;
  margin: 15px;
  background: #fff;
}

h2{
  font-family: Arial;
  font-size: 18px;
}
h4{
  font-family: Arial;
  font-size: 20px;
}
#main-section .panel2{
  float: left;
  width: 95%;
  padding: 15px;
  text-align: center;
  margin: 30px;
  background: #fff;
}

#main-section .panel2 h2{
  font-size: 36px;
}
#main-section .panel2 h3{
  font-size: 24px;
}

#main-section .panel img{
  width: 100%;
  height: 160px;
  border-radius: 8px;
  margin: auto;
}

@media (max-width: 768px) {
  #main-section .panel{
    width: 100%;
    margin-left: -10px;
  }
  #main-section .panel2{
    width: 100%;
    margin-left: -10px;
  }

  #main-section .panel img{
    width: 70%;
    height: 160px;
    border-radius: 8px;
    margin: auto;
  }
  #main-section .panel-user{
    width: 100%;
    margin-left:-10px;
  }
  .modal-content{
    width: 90%;
  }
  button.createBankAccountLink{
    float: left;
    margin-left: 37%;
  }
  button.get-stared-link{
    float: left;
    margin: 37%;
  }
}

@media (max-width: 980px) {
  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 27px;
    padding: 16px;
  }
  .navbar > .navbar-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 13px;
    border-top: 2px solid #eee;
  }
  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(59, 58, 61);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 56px;
    left: 0px;
  }
  .navbar > .navbar-links > a {
    display: block;
    width: 100%;
  }
  .navbar > #navbar-check:not(:checked) + .navbar-links {
    height: 0px;
  }
  .navbar > #navbar-check:checked + .navbar-links {
    height: calc(100vh - 50px);
    height: 250px;
  }

  #main-section .panel{
    width: 100%;
    margin-left: -10px;
  }
  #main-section .panel2{
    width: 100%;
    margin-left: -10px;
  }

  #main-section .panel img{
    width: 70%;
    height: 160px;
    border-radius: 8px;
    margin: auto;
  }
  #main-section .panel-user{
    width: 100%;
    margin-left: -6%;
  }
  .modal-content{
    width: 90%;
  }
  button.createBankAccountLink{
    float: left;
    margin-left: 30%;
  }
}
a.links{
  text-decoration: #000;
  color: #000;
}
/* Galaxy s5 width:360px */
@media (max-width:360px) {
  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 27px;
    padding: 16px;
  }
  .navbar > .navbar-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 13px;
    border-top: 2px solid #eee;
  }
  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(59, 58, 61);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 56px;
    left: 0px;
  }
  .navbar > .navbar-links > a {
    display: block;
    width: 100%;
  }
  .navbar > #navbar-check:not(:checked) + .navbar-links {
    height: 0px;
  }
  .navbar > #navbar-check:checked + .navbar-links {
    height: calc(100vh - 50px);
    height: 250px;
  }

  button.createBankAccountLink{
    float: right;
  }

  #main-section .panel{
    width: 100%;
    margin-left: -20px;
  }
  #main-section .panel2{
    width: 100%;
    margin-left: -20px;
  }

  #main-section .panel img{
    width: 70%;
    height: 160px;
    border-radius: 8px;
    margin: auto;
  }
  #main-section .panel-user{
    width: 100%;
    margin-left: -20px;
  }
  .modal-content{
    width: 90%;
  }
  button.createBankAccountLink{
    float: right;
    margin-left: 10%;
  }
  button.get-stared-link{
    float: left;
    margin-left: 18%;
  }
}

/* width: 414px */
@media (max-width:414px) {
  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 27px;
    padding: 16px;
  }
  .navbar > .navbar-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 13px;
    border-top: 2px solid #eee;
  }
  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(59, 58, 61);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 56px;
    left: 0px;
  }
  .navbar > .navbar-links > a {
    display: block;
    width: 100%;
  }
  .navbar > #navbar-check:not(:checked) + .navbar-links {
    height: 0px;
  }
  .navbar > #navbar-check:checked + .navbar-links {
    height: calc(100vh - 50px);
    height: 250px;
  }

  #main-section .panel{
    width: 100%;
    margin-left: -28px;
  }
  #main-section .panel2{
    width: 100%;
    margin-left: -20px;
    font-size: 1em;
  }

  #main-section .panel img{
    width: 70%;
    height: 160px;
    border-radius: 8px;
    margin: auto;
  }
  #main-section .panel-user{
    width: 100%;
    margin-left: -20px;
  }
  .modal-content{
    width: 90%;
  }
  button.createBankAccountLink{
    float: right;
    margin: auto;
  }
  button.get-stared-link{
    margin-left: 80px;
  }
}

/* width: 375px */
@media (max-width:375px) {
  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 27px;
    padding: 16px;
  }
  .navbar > .navbar-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 13px;
    border-top: 2px solid #eee;
  }
  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(59, 58, 61);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 56px;
    left: 0px;
  }
  .navbar > .navbar-links > a {
    display: block;
    width: 100%;
  }
  .navbar > #navbar-check:not(:checked) + .navbar-links {
    height: 0px;
  }
  .navbar > #navbar-check:checked + .navbar-links {
    height: calc(100vh - 50px);
    height: 250px;
  }

  #main-section .panel{
    width: 100%;
    margin-left: -28px;
  }
  #main-section .panel2{
    width: 100%;
    margin-left: -20px;
    font-size: 1em;
  }

  #main-section .panel img{
    width: 70%;
    height: 160px;
    border-radius: 8px;
    margin: auto;
  }
  #main-section .panel-user{
    width: 100%;
    margin-left: -20px;
  }
  .modal-content{
    width: 90%;
  }
  button.createBankAccountLink{
    float: right;
    margin: auto;
  }
  button.get-stared-link{
    margin-left: 60px;
  }
}

/* width: 320px */
@media (max-width:320px) {
  .navbar > .navbar-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .navbar-btn > label {
    display: inline-block;
    width: 50px;
    height: 27px;
    padding: 16px;
  }
  .navbar > .navbar-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar > .navbar-btn > label > span {
    display: block;
    width: 25px;
    height: 13px;
    border-top: 2px solid #eee;
  }
  .navbar > .navbar-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(59, 58, 61);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 56px;
    left: 0px;
  }
  .navbar > .navbar-links > a {
    display: block;
    width: 100%;
  }
  .navbar > #navbar-check:not(:checked) + .navbar-links {
    height: 0px;
  }
  .navbar > #navbar-check:checked + .navbar-links {
    height: calc(100vh - 50px);
    height: 250px;
  }

  #main-section .panel{
    width: 100%;
    margin-left: -28px;
  }
  #main-section .panel2{
    width: 100%;
    margin-left: -20px;
    font-size: 1em;
  }

  #main-section .panel img{
    width: 70%;
    height: 160px;
    border-radius: 8px;
    margin: auto;
  }
  #main-section .panel-user{
    width: 100%;
    margin-left: -20px;
  }
  .modal-content{
    width: 90%;
  }
  button.createBankAccountLink{
    /* float: right; */
    margin-left: -10px;
  }
  button.get-stared-link{
    margin-left: 45px;
  }
}